<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - MiniWeibo WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MiniWeibo WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MiniWeibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - MiniWeibo WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>784B11301C96C09900C06E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>784B11451C96C09900C06E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>784B11501C96C09900C06E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>784B11781C96C0A800C06E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
